.footer{
    display: flex;
    gap: 40px;
    a{
        cursor: pointer;
        color: var(--bb-grey);
        font-size: 14px;
        transition: color 0.3s;
        &:hover{
            color: var(--bb-limon);
        }
    }
}
